.booking {
  padding: 33px 20px 49px;
  text-align: center;

  background-color: @basic-white;
}

.booking__headline {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
}

.booking__title {
  margin: 0 0 20px;

  .font(21px; 26px; 700);
  color: @basic-black;
}

.booking__text {
  margin: 0 auto 27px;
  .font(14px; 24px);

  & br {
    display: none;
  }
}

.booking__button {
  text-decoration: none;
  .button();
}


@media (min-width: @tablet-width) {
  .booking {
    padding: 54px 155px 57px;
  }

  .booking__title {
    margin-bottom: 33px;
    .font(30px; 26px; 700);
  }

  .booking__text {
    margin-bottom: 37px;

    & br {
      display: block;
    }
  }

  .booking__button {
    width: 458px;
  }
}


@media (min-width: @desktop-width) {
  .booking {
    padding-bottom: 67px;
  }

  .booking__text {
    margin-bottom: 44px;
  }
}
