.booking {
  padding: 0 20px 49px;
  text-align: center;

  background-color: @basic-white;
}

.booking__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin: 0 14px;
  text-align: center;

  text-transform: uppercase;
}

.booking__title {
  margin: 0 0 10px;
  .font(21px; 26px; 700);
}

.booking__text {
  margin: 0 auto 27px;
  .font(14px; 24px);
}

.booking__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;

  .font(21px; 26px; 700);
  color: @basic-white;
  text-decoration: none;

  background-color: @primary-blue;

  &:hover {
    background-color: @primary-darkblue;
  }

  &:active {
    color: @special-white-3;
    background-color: @primary-darkestblue;
  }

  &:disabled { //--disabled если  ссылка
    background-color: @lighter-grey;
  }
}


@media (min-width: @tablet-width) {
  .booking {
    padding: 0 60px 30px;
  }

  .booking__headline {
    padding-top: 57px;
  }

  .booking__title {
    margin-bottom: 33px;
    .font(30px; 26px; 700);
  }

  .booking__text {
    margin-bottom: 37px;
  }

  .booking__button {
    margin: 0 auto;
    width: 458px;
  }
}


@media (min-width: @tablet-width) {
  .booking {
    padding: 0 350px 37px;
  }

  .booking__text {
    margin-bottom: 42px;
  }
}
