.controls {
  display: flex;
  width: 280px;
  height: 113px;
  padding: 0 23px 0;
  background-image: linear-gradient(@special-black-6 47px, @grey 47px);
}

.controls__progress-wrapper {
  width: 280px;
  height: 42px;
  padding: 23px 0 0 0;
}

.controls__progress {
  position: relative;

  width: 235px;
  margin: 0;
}

.controls__track {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 235px;
  height: 3px;

  background-color: @special-white-2;
}

.controls__thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;
  margin: 0 0 0 35px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: @basic-white;

  cursor: pointer;
}

.controls__button {
  height: 20px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: @blue-grey;

  cursor: pointer;

  &:hover {
    color: @dark-grey;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    width: 16px;
    margin: 0 auto 0 2px;

    background-image: url("../img/replay.svg");
  }

  &--subtitles {
    width: 32px;
    margin-right: 31px;

    background-image: url("../img/subtitles.svg");
  }

  &--fullscreen {
    width: 20px;

    background-image: url("../img/fullscreen.svg");
  }
}


@media (min-width: @tablet-width) {
  .controls {
    width: 648px;
    height: 93px;
    padding: 35px;

    background-image: none;
    background-color: @special-black-6;
  }

  .controls__progress-wrapper {
    width: 389px;
    margin: 0 42px;
    padding: 10px 0;
  }

  .controls__progress {
    width: 389px;
  }

  .controls__track {
    width: 389px;
  }

  .controls__thumb {
    margin: 0 0 0 112px;
  }

  .controls__button--replay {
    order: -1;
    margin: 0;

    color: @basic-white;
  }

  .controls__button--subtitles {
    color: @basic-white;
  }

  .controls__button--fullscreen {
    color: @basic-white;
  }
}


@media (min-width: @desktop-width) {
  .controls {
    width: 800px;
  }

  .controls__progress-wrapper {
    width: 540px;
  }

  .controls__progress {
    width: 540px;
  }

  .controls__track {
    width: 540px;
  }
}
