.controls {
  width: 280px;
}

.controls__progress-wrapper {
  height: 45px;
  padding: 10px 22px;

  background-color: @basic-black;
  opacity: 0.6;
}

.controls__progress {
  appearance: none;
  width: 100%;

  background-color: transparent;

  &::-webkit-slider-thumb {
    appearance: none;

    width: 9px;
    height: 9px;
    margin-top: -3px;

    border: none;
    border-radius: 50%;
    background-color: @basic-white;

    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;

    background-color: @special-grey-2;
  }
}

.controls__buttons {
  .list-reset();

  display: flex;
  height: 66px;
  padding: 20px 22px;

  background-color: @grey;
}

.controls__buttons-item {
  margin: 0 31px 0 auto;

  &:first-child {
    margin: 0 auto 0 0;
  }

  &:last-child {
    margin: 0;
  }
}

.controls__button {
  height: 20px;

  cursor: pointer;
}
