.controls {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 111px;
  padding: 0 23px 0;
  background-image: linear-gradient(@special-black-6 45px, @grey 45px);
}

.controls__progress-wrapper {
  width: 280px;
  height: 45px;
  padding: 0;
}

.controls__progress {
  appearance: none;
  width: 235px;
  height: 45px;
  margin: 0;

  background-color: transparent;

  &::-webkit-slider-thumb {
    appearance: none;

    width: 9px;
    height: 9px;
    margin-top: -3px;

    border: none;
    border-radius: 50%;
    background-color: @basic-white;

    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: 3px;

    background-color: @special-grey-2;
  }
}

.controls__button {
  height: 20px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: @blue-grey;

  cursor: pointer;

  &:hover {
    color: @dark-grey;
  }

  &:active {
    opacity: 0.3;
  }

  &--replay {
    width: 16px;
    margin: 0 auto 0 2px;

    background-image: url("../../img/replay.svg");
  }

  &--subtitles {
    width: 32px;
    margin-right: 31px;

    background-image: url("../../img/subtitles.svg");
  }

  &--fullscreen {
    width: 20px;

    background-image: url("../../img/fullscreen.svg");
  }
}


@media (min-width: @tablet-width) {
  .controls {
    width: 648px;
    height: 93px;
    padding: 36px 33px;

    background-image: none;
    background-color: @special-black-6;
  }

  .controls__progress-wrapper {
    width: 390px;
    height: 20px;
    margin: 0 42px;
  }

  .controls__progress {
    width: 390px;
    height: 20px;

    &::-webkit-slider-thumb {
      margin-left: 58px;
    }
  }

  .controls__button--replay {
    order: -1;
    margin: 0;

    color: @basic-white;
  }

  .controls__button--subtitles {
    color: @basic-white;
  }

  .controls__button--fullscreen {
    color: @basic-white;
  }
}


@media (min-width: @desktop-width) {
  .controls {
    width: 800px;
  }

  .controls__progress-wrapper {
    width: 540px;
  }

  .controls__progress {
    width: 540px;

    &::-webkit-slider-thumb {
      margin-left: 34px;
    }
  }
}
