.feature {
  text-align: center;

  background-color: @basic-grey;
}

.feature__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px 25px;

  text-transform: uppercase;

  background-color: @basic-grey;
}

.feature:not(.feature--expanded-full):not(.feature--expanded-short)::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  transform: translateX(20px);
  background-color: @light-grey;
}

.feature__title {
  margin: 0;
}

.feature__number {
  margin: 10px 0 16px;
}

.feature__description {
  margin: 0;
}

.feature__image {
  max-height: 260px;
  background-color: @light-blue;
}

.feature__image-source {
  transform: translateX(-50%);
  margin: 0 50%;
}

.feature__detail-list {
  .list-reset();
  padding: 35px 20px;
  text-align: left;

  background-color: @basic-white;
}

.feature__detail {
  position: relative;

  margin: 0 0 25px;
  padding-left: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;

    position: absolute;

    background-repeat: no-repeat;
    background-size: cover;
  }

  &--housing::before {
    top: -6px;
    left: 1px;

    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
  }

  &--gift::before {
    top: -10px;
    left: 5px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    top: -5px;
    left: -2px;

    width: 40px;
    height: 34px;

    background-image: url("../img/icon-burger.svg");
  }
}

.feature__detail--gift br {
  display: none;
}

.feature__detail-title {
  margin-top: 0;
  text-align: left;

  &:last-child {
    margin: 0;
  }
}

.feature__detail-text {
  margin-top: 0;
  text-align: left;
  text-transform: uppercase;

  &:last-child {
    margin: 0;
  }
}

.feature--expanded-full {
  & .feature__headline {
    padding: 71px 14px 39px;

    color: @basic-white;

    border: none;
    background-color: @primary-blue;
  }

  & .feature__title {
    color: @basic-white;
  }

  & .feature__number {
    margin: 11px 0 16px;
  }
}

.feature--expanded-short {
  & .feature__headline {
    padding: 38px 14px 35px;
    margin: 0;

    color: @basic-white;

    border: none;
    background-color: @primary-blue;
  }

  & .feature__title {
    color: @basic-white;
  }

  & .feature__number {
    margin: 13px 0 14px;
  }
}


@media (min-width: @tablet-width) {
  .feature:not(.feature--expanded-full):not(.feature--expanded-short)::after {
    display: none;
  }

  .feature__headline {
    height: 100%;
    padding: 41px 38px 45px;
  }

  .feature__title {
    padding: 0 48px;
  }

  .feature__number {
    margin: 14px 0 23px;
  }

  .feature__description {
    &--narrow {
      padding: 0 16px;
    }
  }

  .feature--expanded-full {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    & > .feature__headline {
      grid-column: 1 / span 1;

      padding: 40px 30px;
    }

    & .feature__number {
      margin: 13px 0 23px;
    }

    & > .feature__image {
      grid-column: 2 / span 2;
    }

    & > .feature__detail-list {
      grid-column: 1 / span 3;
    }
  }

  .feature__detail-list {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    align-content: end;
    padding: 158px 0 60px;
  }

  .feature__detail {
    margin: 0;
    padding: 0;

    &--housing {
      grid-column: 1;

      & .feature__detail-text {
        padding: 0 33px;
      }
    }

    &--gift {
      grid-column: 3;

      & .feature__detail-text {
        padding: 0 30px 0 33px;
      }
    }

    &--food {
      grid-column: 2;
      grid-row: 1;

      & .feature__detail-text {
        padding: 0 48px 0 50px;
      }
    }

    &::before {
      content: "";
      display: block;

      position: absolute;

      left: 50%;
      transform: translateX(-50%);

      background-repeat: no-repeat;
      background-size: cover;
    }

    &--housing::before {
      top: -98px;

      width: 75px;
      height: 72px;
    }

    &--gift::before {
      top: -100px;

      width: 64px;
      height: 75px;
    }

    &--food::before {
      top: -95px;

      width: 76px;
      height: 68px;
    }
  }

  .feature__detail-title {
    text-align: center;
    margin-bottom: 23px;
  }

  .feature__detail-text {
    text-align: center;
  }

  .feature--expanded-short {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    & > .feature__headline {
      grid-column: 3 / span 1;

      padding: 42px 40px 0;
    }

    & .feature__title {
      padding: 0 13px;
    }

    & .feature__number {
      margin: 14px 0 23px;
    }

    & > .feature__image {
      grid-column: 1 / span 2;
      order: -1;
    }

    & > .feature__detail-list {
      grid-column: 1 / span 3;
    }
  }
}


@media (min-width: @desktop-width) {
  .feature__description {
    max-width: 295px;
  }

  .feature__title {
    padding: 0 85px;
  }

  .feature--expanded-full {
    & .feature__headline {
      padding: 45px 67px;
    }
  }

  .feature__detail-list {
    padding-bottom: 80px;
  }

  .feature__detail--housing {
    & .feature__detail-text {
      padding: 0 45px;
    }
  }

  .feature__detail--gift {
    & .feature__detail-text {
      padding: 0 45px 0 51px;

      & br {
        display: block;
      }
    }
  }

  .feature__detail--food {
    & .feature__detail-text {
      padding: 0 45px 0 51px;
    }
  }

  .feature--expanded-short {
    & .feature__headline {
      padding: 52px 85px 0;
    }

    & .feature__title {
      padding: 0 39px 0 41px;
    }
  }
}
