.features__headline {
  margin: 25px auto 27px;
}

.features__title {
  margin: 0 0 35px;
  padding: 0 20px;
}

.features__text {
  margin-bottom: 11px;
  padding: 0 20px;
  line-height: 24px;
}

.features__list {
  .list-reset();
}

.features__item {
  width: 100%;
}
