.feature {
  text-align: center;
  background-color: @basic-grey;
}

.feature__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;

  text-transform: uppercase;

  border-bottom: 1px solid @light-grey;
  background-color: @basic-grey;

  &:last-child {
    border-bottom: none;
  }
}

.feature__title {
  margin: 0;
}

.feature__description {
  margin: 0;
}

.feature__image {
  max-height: 260px;
  background-color: @light-blue;
}

.feature__detail-list {
  .list-reset();
  padding: 26px 12px 20px;

  background-color: @basic-white;
}

.feature__detail {
  margin-bottom: 25px;
  padding: 0 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__detail-title,
.feature__detail-text {
  margin-top: 5px;
  text-align: left;
}


.feature--expanded-full {
  & .feature__headline {
    padding: 58px 14px 39px;
    margin: 0;

    color: @basic-white;
    border: none;
    background-color: @primary-blue;
  }

  & .feature__number {
    margin: 11px 0 17px;
  }
}

.feature--expanded-short {
  & .feature__headline {
    padding: 39px 14px 35px;
    margin: 0;

    color: @basic-white;

    border: none;
    background-color: @primary-blue;
  }
}


@media (min-width: @tablet-width) {
  .feature__headline {
    padding: 43px 0;
  }

  .feature__description {
    max-width: 192px;
  }

  .feature--expanded-full {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    & > .feature__headline {
      grid-column: 1 / span 1;
    }

    & > .feature__image {
      grid-column: 2 / span 2;
    }

    & > .feature__detail-list {
      grid-column: 1 / span 3;
    }
  }

  .feature__detail-list {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    align-content: center;
    height: 330px;
  }

  .feature__detail {
    padding: 158px 40px 59px;
    margin: 0;
  }

  .feature__detail-title {
    text-align: center;
  }

  .feature__detail-text {
    text-align: center;
  }

  .feature--expanded-short {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);

    & > .feature__headline {
      grid-column: 3 / span 1;
    }

    & > .feature__image {
      grid-column: 1 / span 2;
      order: -1;
    }

    & > .feature__detail-list {
      grid-column: 1 / span 3;
    }
  }
}

@media (min-width: @desktop-width) {
  .feature__description {
    max-width: 295px;
  }
}
