.feature {
  text-align: center;
  background-color: @basic-grey;
}

.feature__headline {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  margin: 0 14px;

  text-transform: uppercase;

  border-bottom: 1px solid @light-grey;
  background-color: @basic-grey;

  &:last-child {
    border-bottom: none;
  }
}

.feature__title {
  margin: 0;
}

.feature__description {
  margin: 0;
}

.feature__image {
  max-height: 260px;
}

.feature__detail-list {
  .list-reset();
  padding: 26px 12px 20px;
}

.feature__detail {
  margin-bottom: 25px;
  padding-left: 56px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__detail-title,
.feature__detail-text {
  margin-top: 5px;
  text-align: left;
}


.feature--expanded-full {
  & .feature__headline {
    padding: 58px 14px 39px;
    margin: 0;

    color: @basic-white;
    border: none;
    background-color: @primary-blue;
  }

  & .feature__number {
    margin: 11px 0 17px;
  }
}

.feature--expanded-short {
  & .feature__headline {
    padding: 39px 14px 35px;
    margin: 0;

    color: @basic-white;

    border: none;
    background-color: @primary-blue;
  }
}
