.feedback {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 0 21px;
}

.feedback__fieldset {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    display: block;
    width: 320px;
    height: 1px;

    background-color: @lighter-grey;
  }
}

.feedback__title {
  margin: 0 auto;
  padding: 20px 0;
}

.feedback__label {
  display: flex;
  align-items: center;
  width: 280px;
  margin-bottom: 20px;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__label-text {
  vertical-align: middle;
  padding-right: 11px;

  .font(14px; 26px; 400);
  text-transform: uppercase;
}

.feedback__field {
  height: 58px;
  padding: 17px 20px;

  font-family: inherit;
  .font(18px; 26px; 700);
  color: @basic-black;

  border: 4px solid transparent;
  background-color: @grey;

  &:hover {
    background-color: @lighter-grey;
  }

  &:active {
    outline: none;
    border: 4px solid @lighter-grey;
    background-color: @basic-white;
  }

  &:focus {
    outline: none;
    border: 4px solid @lighter-grey;
  }

  &::placeholder {
    color: @basic-black;
  }

  &--name {
    max-width: 230px;
  }

  &--surname {
    max-width: 192px;
  }

  &--patronymic {
    max-width: 194px;
  }

  &--hidden {
    .visually-hidden();
  }
}

.feedback__fieldset--contacts {
  margin-bottom: 4px;

  & .feedback__title {
    padding-bottom: 16px;
  }

  & .feedback__label {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 32px;

      display: block;
      width: 58px;
      height: 58px;

      background-color: @darker-grey;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  & .feedback__label-text {
    margin-bottom: 7px;
    padding-left: 22px;
  }

  & .feedback__field {
    width: 100%;
  }

  & .feedback__label--phone::after {
    background-image: url("../img/phone.svg");
  }

  & .feedback__label--mail::after {
    background-image: url("../img/mail.svg");
  }
}

.feedback__fieldset--impression {
  margin-bottom: 3px;

  & .feedback__label {
    position: relative;

    width: 100%;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;

      width: 56px;
      height: 56px;

      border-radius: 50%;
      background-color: @grey;
    }

    &:hover::before {
      background-color: @lighter-grey;
    }

    &:active::before {
      background-color: @darkened-grey;
    }

    &:active::after {
      opacity: 0.3;
    }

    &--checked::after {
      content: "";
      position: absolute;
      left: 18px;

      display: block;
      width: 20px;
      height: 20px;

      border-radius: 50%;
      background-color: @basic-black;
    }
  }

  & .feedback__label-text {
    margin-left: 22px;

    text-transform: none;
    .font (18px; 26px; 700);
    color: @basic-black;
  }
}

.feedback__fieldset--sights {
  & .feedback__title {
    padding-top: 15px;
  }

  & .feedback__field {
    .visually-hidden();
  }

  & .feedback__label {
    width: 100%;
    height: 56px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 56px;
      height: 56px;

      border-radius: 5px;
      background-color: @grey;
    }

    &--checked::before {
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover::before {
      background-color: @lighter-grey;
    }

    &:active::before {
      background-color: @darkened-grey;
      opacity: 0.3;
    }
  }

  & .feedback__label-text {
    padding-left: 23px;

    text-transform: none;
    .font (18px; 26px; 700);
    color: @basic-black;
  }
}

.feedback__fieldset--feedback {
  margin-bottom: 28px;

  & .feedback__title {
    padding: 19px 0 14px;
  }

  & .feedback__field {
    width: 280px;
    height: 160px;
    padding: 15px 19px;

    border: none;
    resize: none;
  }
}

.feedback__submit {
  margin: 0 auto;
  padding: 6px 6px 0 0;
  border: none;
  .button();
}

.feedback__notion {
  display: none;
}


@media (min-width: @tablet-width) {
  .feedback {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 30px;
    padding: 0 60px;
  }

  .feedback__fieldset {
    margin: 0;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .feedback__title {
    margin: 0 0 55px;
  }

  .feedback__fieldset--introduction {
    grid-column: 2;
    grid-row: 1;

    position: relative;

    padding-left: 58px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 1px;
      height: 292px;

      background-color: @lighter-grey;
    }

    & .feedback__title {
      text-align: left;
      margin: 0 0 35px;
    }

    & .feedback__label {
      padding-left: 1px;
    }

    & .feedback__field--name {
      max-width: 216px;
    }

    & .feedback__field--surname {
      max-width: 178px;
    }

    & .feedback__field--patronymic {
      max-width: 180px;
    }
  }

  .feedback__fieldset--contacts {
    grid-column: 1 / span 2;
    grid-row: 3;
    width: 100%;
    margin-bottom: 20px;

    & .feedback__title {
      position: relative;

      margin: 0 0 8px;
      padding: 12px 0;

      .decorative-legend();
    }

    & .feedback__label {
      width: 648px;
      margin: 0 0 25px;
    }

    & .feedback__field {
      padding-top: 20px;
    }
  }

  .feedback__fieldset--impression {
    grid-column: 1;
    grid-row: 1;

    & .feedback__title {
      text-align: left;
      margin-bottom: 37px;
    }

    & .feedback__label {
      margin-bottom: 22px;
    }

    & .feedback__label-text {
      margin-left: 19px;
    }
  }

  .feedback__fieldset--sights {
    grid-column: 1 / span 2;
    grid-row: 4;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 70px 0 94px;

    & .feedback__title {
      flex-direction: column;
      flex-basis: 100%;
      margin: 0 0 44px;
      padding: 0 55px 0 35px;
      .decorative-legend();
    }

    & .feedback__label {
      flex-basis: 225px;
      padding: 0 2px;
      margin-bottom: 32px;
    }

    & .feedback__field {
      margin-left: 95px;
    }
  }

  .feedback__fieldset--feedback {
    grid-column: 1 / span 2;
    grid-row: 5;
    width: 100%;
    margin-bottom: 31px;

    & .feedback__title {
      position: relative;
      margin-bottom: 40px;
      padding-top: 7px;
      .decorative-legend();
    }

    & .feedback__field {
      width: 100%;
      padding: 20px 21px;
    }
  }

  .feedback__submit {
    grid-column: 1;
    grid-row: 6;
    width: 324px;
    margin-left: 0;
    padding: 0 13px 0 0;
  }

  .feedback__notion {
    grid-column: 2;
    grid-row: 6;
    display: block;
    margin: 0;
    padding-top: 16px;

    text-align: right;
    text-transform: uppercase;
    line-height: 26px;
  }
}


@media (min-width: @desktop-width) {
  .feedback {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  .feedback__fieldset--impression {
    padding-left: 4px;

    & .feedback__title {
      padding-left: 76px;
    }
  }

  .feedback__fieldset--introduction {
    padding-left: 80px;

    & .feedback__field {
      &--name {
        min-width: 350px;
      }

      &--surname {
        min-width: 312px;
      }

      &--patronymic {
        min-width: 314px;
      }
    }
  }

  .feedback__fieldset--contacts {
    & .feedback__title {
      margin-bottom: 63px;
      padding: 8px 0;
    }

    & .feedback__label {
      flex-direction: row;
      width: 400px;
      margin: 0;

      &::after {
        top: 0;
      }
    }

    & .feedback__label--mail {
      align-self: flex-end;
      width: 482px;
      margin-top: -57px;
    }

    & .feedback__label-text {
      padding: 18px 16px 0 0;
    }

    & .feedback__label-text span {
      display: none;
    }

    & .feedback__field {
      width: 315px;
      padding: 20px 24px 15px;
    }
  }

  .feedback__fieldset--sights {
    padding: 0;

    & .feedback__title {
      padding: 0 280px;

      &::before,
      &::after {
        top: 15%;
      }
    }

    & .feedback__label {
      &:nth-child(3) {
        padding-left: 15px;
      }

      &:nth-child(4) {
        padding-left: 28px;
      }

      &:nth-child(5) {
        padding-left: 20px;
      }
    }

    & .feedback__label-text {
      &--offset {
        padding: 0 0 0 25px;
      }
    }
  }

  .feedback__fieldset--feedback {
    margin-bottom: 27px;

    & .feedback__title {
      padding: 8px 0;
      margin-bottom: 47px;
    }

    & .feedback__field {
      padding: 17px 21px;
    }
  }

  .feedback__submit {
    width: 480px;
    padding: 4px 0 0;
  }

  .feedback__notion {
    margin-right: 1px;
    padding-top: 19px;
  }
}
