.footer {
  padding: 38px 45px 26px;

  text-transform: uppercase;

  background-color: @basic-white;
}

.footer__hashtag {
  margin: 0;
  text-align: center;

  .font(21px; 26px; 700);
}

.footer__social {
  margin: 35px 0 40px;
}

.footer__copyright {
  margin: 0;
  text-align: center;
}

.footer__copyright-link {
  display: flex;
  justify-content: center;

  text-decoration: none;
}

.footer__copyright-text {
  display: inline-block;
  .font(14px; 37px);
  color: @basic-black;
}

.footer__copyright-logo {
  display: inline-block;
  margin-left: 12px;
  color: @basic-black;

  &:hover {
    color: @bright-blue;
  }

  &:active {
    color: @special-black-3;
  }
}


@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }

  .footer__social {
    margin-left: -5px;
  }
}


@media (min-width: @desktop-width) {
  .footer {
    padding: 0 120px;
  }
}
