.header__navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 56px;

  background-color: @basic-white;
}

.header__logo {
  position: absolute;
  top: auto;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  order: 2;
  z-index: 2;
}

.header__toggle {
  position: absolute;
  top: 6px;
  right: 20px;
  transform: translateY(50%);

  display: block;
  width: 23px;
  height: 22px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url("../../img/icon-menu.svg");

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--open {
    top: 5px;
    transform: translateY(50%);

    background-image: url("../../img/icon-cross.svg");
  }

  &--nojs {
    display: none;
  }
}


@media (min-width: @tablet-width) {
  .header__toggle {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .header__logo {
    bottom: -40px;
  }

  .header__logo-image {
    width: 187px;
    height: 97px;
  }
}
