.intro {
  position: relative;

  height: 389px;
  padding-top: 90px;

  background-color: @light-blue;
  background-image: url("../img/intro-back.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-back@2x.jpg");
  }

  &::after {
    content: "";
    display: block;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    overflow: hidden;

    width: 1200px;
    height: 57px;

    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
  }

  &--small {
    height: 157px;
    padding: 52px 0 0;

    background-image: url("../img/inner-intro-back-mobile.jpg");
    background-position: 50% bottom;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/inner-intro-back-mobile@2x.jpg");
  }

  .intro__text {
    display: block;
    margin: 0 auto;
  }

  .intro--small .intro__text {
    width: 229px;
    height: 39px;
  }
}


@media (min-width: @tablet-width) {
  .intro {
    height: 518px;
    padding-top: 77px;

    &--small {
      height: 290px;
      padding-top: 94px;

      background-image: url("../img/inner-intro-back-tablet.jpg");
      background-position: 50% bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/inner-intro-back-tablet@2x.jpg");
      }
    }
  }

  .intro__text {
    width: 462px;
    height: 350px;
  }

  .intro--small .intro__text {
    width: 457px;
    height: 78px;
  }
}


@media (min-width: @desktop-width) {
  .intro {
    padding-top: 77px;

    &--small {
      height: 301px;
      padding-top: 102px;

      background-image: url("../img/inner-intro-back-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/inner-intro-back-desktop@2x.jpg");
      }
    }
  }

  .intro--small .intro__text {
    width: 464px;
    height: 80px;
  }
}
