.page__body {
  position: relative;

  margin: 0;
  font-family: "ptsans", "Arial", sans-serif;
  .font(14px; 21px);
  color: @dark-grey;

  background-color: @grey;
}

.page__body-wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;

  overflow: hidden;
  background-color: @basic-white;
}


@media (min-width: @tablet-width) {
  .page__body-wrapper {
    width: 768px;
  }
}


@media (min-width: @desktop-width) {
  .page__body-wrapper {
    width: 1200px;

    box-shadow: 0 5px 15px @special-darkgrey-2;
  }
}
