.photo {
  display: flex;
  flex-direction: column;
  padding: 23px 20px 17px;
}

.photo__link {
  text-decoration: none;
  color: @basic-black;
}

.photo__description {
  padding: 11px 0 0;
}

.photo__title {
  margin: 0;

  .font(14px; 24px; 700);
  color: @basic-black;
  text-transform: uppercase;
}

.photo__author {
  margin: 0;

  .font(14px; 24px; 400);
  color: @dark-grey;
}

.photo__likes {
  appearance: none;

  min-width: 64px;
  height: 20px;
  margin: 12px 0 0;
  padding: 0 12px 0 37px;

  border: none;
  background-color: transparent;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;

  .font(14px; 24px; 700);

  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .photo {
    padding: 0;
  }

  .photo__description {
    height: 80px;
    padding: 16px 20px 15px;

    background-color: @grey;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .photo__likes {
    margin: 12px 0 0 auto;
    padding: 0 12px 0 31px;
  }

  .photo:first-of-type .photo__likes {
    padding: 0 0 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .photo__description {
    margin-top: -80px;
    padding: 17px 21px 15px;

    color: @basic-white;

    background-color: @special-black-3;
  }

  .photo__title {
    color: @basic-white;
  }

  .photo__author {
    color: @basic-white;
  }

  .photo__likes {
    padding: 1px 4px 0 27px;
    color: @basic-white;
    background-image: url("../img/like-icon-white.svg");
  }

 /*  .photo__likes {
    margin: 12px 0 0 auto;
    padding: 0 12px 0 31px;
  }

  .photo:first-of-type .photo__likes {
    padding: 0 0 0 30px;
  } */
}
