.video__headline {
  padding: 34px 0;
}

.video__title {
  margin: 0 0 28px;
}

.video__text {
  margin: 0;
  line-height: 24px;
}

.video__player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__controls {
  margin-top: -45px;
}
