.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font(@font-size; @line-height; @font-weight: 400) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}

.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.decorative-legend() {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 48%;

    display: block;
    width: 123px;
    height: 1px;

    background-color: @grey;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.button() {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 58px;

  text-transform: uppercase;
  font-family: "ptsans", "Arial", sans-serif;
  .font(21px; 26px; 700);
  color: @basic-white;

  background-color: @primary-blue;

  &:hover {
    background-color: @primary-darkblue;
  }

  &:active {
    color: @special-white-3;
    background-color: @primary-darkestblue;
  }

  &:disabled {
    background-color: @lighter-grey;
  }

  &--disabled {
    background-color: @lighter-grey;
  }
}
